# Python artifacts
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv/
.ipynb_checkpoints/

# LaTeX artifacts
_minted/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.gz
*.minted